body{
    font-family: sans-serif;
    margin:0px;
    background-color: #4e454a;
    height: 70px;
}

header{
    text-align: center;   
}

nav{
    margin-top:0px;
    margin-bottom: 0px;
    display:inline-block;
    text-decoration: none; 
}    

li{
    font-size:15px; 
    border:2px solid #f0f8ff;
    padding:10px 10px;
    margin-top: 10px;
    margin-right:20px;
    display:inline-block;

}

header a{
    text-decoration: none;
    color:#f0f8ff;

}

li :hover{
    opacity: 0.8;
    text-decoration:none;
}

.site-ttl{
    height:500px;
    background-image: url(../img/name01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-top:150px;
    font-size:70px;
    color: whitesmoke;
    margin-left:400px;
}

.site-ttl p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size:40px;
    color: whitesmoke;
    margin-left:400px;

}

.profile{
    height:400px;
    background-image: url(..//img/about01.jpg);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    text-align: center;
}

h2{
    margin-block-start: 0em;
    margin-block-end: 0em;   
    margin-bottom: 30px; 
    font-size: 40px;
}

.profile h2{
    margin-block-start: 0em;
    margin-block-end: 0em;   
    margin-bottom: 30px; 
    font-size: 40px;
    color:whitesmoke;
}

.profile li{
    font-size: 20px;
    border:none;
    color:white;
    text-align: center;
    display:block;
}

.skills{
    text-align: center;
    background-color: #f0f8ff;
    height: 300px;
}

.graph{
    position: relative;
    width: 500px;
    padding: 2px;
    margin-left: 500px;
}

.html{
    border: 1px solid #207870;
    margin-bottom: 10px;
}

.html .bar{
    display:block;
    position:relative;
    background:#207870;
    text-align: center;
    color: #f0ffff;
    height: 2em;
    line-height: 2em;
}

.PHP{
    border: 1px solid #9932cc;    
    margin-bottom: 10px;
}

.PHP .bar{
    display:block;
    position:relative;
    background:#9932cc;
    text-align: center;
    color: #f0ffff;
    height: 2em;
    line-height: 2em;
}

.JQuery{
    border: 1px solid #2f4f4f;    
    margin-bottom: 10px;
}

.JQuery .bar{
    display:block;
    position:relative;
    background:#2f4f4f;
    text-align: center;
    color: #f0ffff;
    height: 2em;
    line-height: 2em;
}

.Passion{
    border: 1px solid #dc143c;
    margin-bottom: 10px;

}

.Passion .bar{
    display:block;
    position:relative;
    background:#dc143c;
    text-align: center;
    color: #f0ffff;
    height: 2em;
    line-height: 2em;
}

.works{
    text-align: center;
    height: 300px;
    background-color: #f0f6da;
}

.works h1{
    margin-top:0px;
}

.works p{
    margin-top: 70px;
    font-size: 30px;
}


footer{
    height:1200px;
    background-color: #1f3134;

}

.contact-form{
    color:white;
    text-align: center;
}


.contact-form h3{
    font-size: 28px;
    padding-bottom: 15px;
    margin-top: 0px;
    text-align: center;
}

.contact-form i{
    margin-right: 10px;
}
  
input{
    width:400px;
    margin:10px 0 30px 0;
    padding:20px 20px;
    font-size:18px;
    border:1px solid #dee7ec;
}
  
textarea{
    width:400px;
    margin:10px 0 30px 0;
    padding:20px 20px;
    font-size:18px;
    border:1px solid #dee7ec;
}
  
.contact-submit{
    background-color:#dee7ec;
    color:#889eab;

}

.form-content {
    width: 100%;
    max-width: 640px;
    padding: 30px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.16);
}
.form-content h2 {
    margin: 0 auto 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.form-content li {
    font-size: 12px;
}
.form-content ul li + li {
    margin-top: 20px;
}
.form-content li label em {
    margin-left: .2em;
    color: #ff2121;
}
.form-content input,
.form-content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form-content textarea {
    min-height: 60px;
}
.form-content li span {
    display: block;
    padding: 10px;
    margin-top: 10px;
    background: #efefef;
    border-radius: 3px;
    color: #666;
    font-size: 14px;
    font-weight: bold;
}
#form_post {
    display: block;
    max-width: 300px;
    margin: 30px auto 0;
    background: #f9665b;
    border: none;
    color: #fff;
    font-size: 14px;
}

.form-content{
    height:500px;
    background-color: #ccc;
    text-align: center;
}

.submit-group{
    float: left;
}
